<!--<h1>{{title}}</h1>
<h2>{{hero.name}} details!</h2>
<div><label>id: </label>{{hero.id}}</div>
<div>
  <label>name: </label>
  <input [(ngModel)]="hero.name" placeholder="name">
</div>-->

<h2>My Heroes</h2>
<ul class="heroes">
  <!-- each hero goes here -->
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<!--<my-hero-detail [hero]="selectedHero"></my-hero-detail>-->

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} is my hero!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
  <button (click)="gotoDetail()">View Details</button>
</div>